/HS.Message/HS.Message.Repository/obj

/HS.Message/HS.Message.Api/obj
/HS.Message/HS.Message.Api/bin
/HS.Message/HS.Message.Model/bin
/HS.Message/HS.Message.Model/obj
/HS.Message/HS.Message.Repository/obj
/HS.Message/HS.Message.Repository/bin
/HS.Message/HS.Message.Service/bin
/HS.Message/HS.Message.Service/obj
/HS.Message/HS.Message.Share/bin
/HS.Message/HS.Message.Share/obj
/HS.Message/HS.Rabbitmq/bin
/HS.Message/HS.Rabbitmq/obj
/.vs

/HS.Message/HS.Message.API/bin
/HS.Message/HS.Message.API/logs
/HS.Message/HS.Message.API/obj
/HS.Message/HS.Message.Model/bin
/HS.Message/HS.Message.Model/obj
/HS.Message/HS.Message.Repository/bin
/HS.Message/HS.Message.Service/bin
/HS.Message/HS.Message.Service/obj
/HS.Message/HS.Message.Share/bin
/HS.Message/HS.Message.Share/obj
/HS.Message/HS.Rabbitmq/obj
/HS.Message/.vs
