/HS.VIP.Management/bin
/HS.VIP.Management/obj
/HS.VIP.Management.Model/bin
/HS.VIP.Management.Model/obj
/HS.VIP.Management.Repository/bin
/HS.VIP.Management.Repository/obj
/HS.VIP.Management.Service/bin
/HS.VIP.Management.Service/obj
/.vs
/HS.VIP.Management.Share/bin
/HS.VIP.Management.Share/obj
/HS.VIP.Management/Properties/PublishProfiles
/HS.VIP.Management/*.user
